@font-face {
  font-family: integral-regular;
  src: url("./Fontspring-DEMO-integralcf-regular.otf");
}

@font-face {
  font-family: integral-medium;
  src: url("./Fontspring-DEMO-integralcf-medium.otf");
}
@font-face {
  font-family: integral-heavy;
  src: url("./Fontspring-DEMO-integralcf-heavy.otf");
}
@font-face {
  font-family: integral-extra-bold;
  src: url("./Fontspring-DEMO-integralcf-extrabold.otf");
}
@font-face {
  font-family: integral-demi-bold;
  src: url("./Fontspring-DEMO-integralcf-demibold.otf");
}
@font-face {
  font-family: integral-bold;
  src: url("./Fontspring-DEMO-integralcf-bold.otf");
}
