@font-face {
  font-family: integral-regular;
  src: url("./integralcf-regular.otf");
}

@font-face {
  font-family: integral-medium;
  src: url("./integralcf-medium.otf");
}
@font-face {
  font-family: integral-heavy;
  src: url("./integralcf-heavy.otf");
}
@font-face {
  font-family: integral-extra-bold;
  src: url("./integralcf-extrabold.otf");
  font-weight: 700;
}
@font-face {
  font-family: integral-demi-bold;
  src: url("./integralcf-demibold.otf");
}
@font-face {
  font-family: integral-bold;
  src: url("./integralcf-bold.otf");
}
